
/* Your CSS Code here. */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.row{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	padding:10px 5px;
	background:lightseagreen
}
.col-sm-1>img,.col-sm-2>img,.col-sm-4>img,.col-sm-12>img{
	width:100px;
	height:120px;
	padding:0px 5px;
	
}

@media screen and (max-width: 400px) {
  .row {
	  flex-direction:column;
   padding:0;
	  width:100%;
  }
	.col-sm-1>img,.col-sm-2>img,.col-sm-4>img,.col-sm-12>img{
		width:100%;
		padding:5px 10px;
		min-height:250px;
		
	}
}


